auto/
mymacros.log
paper.aux
paper.bbl
paper.blg
paper.fdb_latexmk
paper.fls
paper.log
paper.pdf
paper.synctex.gz
paper.toc
sections/Backup/
sections/_region_.tex
sections/auto/
sections/background.pdf
sections/introduction.pdf
sections/mymacros.sty.backup
sections/symmetric-circuits.aux
sections/symmetric-circuits.log
sections/symmetric-circuits.pdf
sections/symmetric-circuits.synctex.gz
sections/symmetry-and-support.aux
sections/symmetry-and-support.fdb_latexmk
sections/symmetry-and-support.fls
sections/symmetry-and-support.log
sections/symmetry-and-support.pdf
sections/symmetry-and-support.synctex.gz
sections/translating-circuits-into-formulas.aux
sections/translating-circuits-into-formulas.log
sections/translating-circuits-into-formulas.pdf
sections/translating-circuits-into-formulas.synctex.gz
sections/translating-formulas-to-cicuits.aux
sections/translating-formulas-to-cicuits.fdb_latexmk
sections/translating-formulas-to-cicuits.fls
sections/translating-formulas-to-cicuits.log
sections/translating-formulas-to-cicuits.pdf
sections/translating-formulas-to-cicuits.synctex.gz
sections/background.aux
sections/translating-circuits-into-formulas.tex.backup
sections/translating-circuits-into-formulas.fls
sections/translating-circuits-into-formulas.fdb_latexmk
sections/indent.log
sections/indent.log
sections/background.log
sections/background.synctex.gz
.dropbox.attr
.vscode/.dropbox.attr
sections/.dropbox.attr
sections/references.bib
sections/symmetry-and-support.bbl
sections/symmetry-and-support.blg
sections/translating-formulas-to-cicuits.bbl
sections/translating-formulas-to-cicuits.blg
sections/transparency-and-unique-extensions.aux
sections/transparency-and-unique-extensions.bbl
sections/transparency-and-unique-extensions.blg
sections/transparency-and-unique-extensions.fdb_latexmk
sections/transparency-and-unique-extensions.fls
sections/transparency-and-unique-extensions.log
sections/transparency-and-unique-extensions.pdf
sections/transparency-and-unique-extensions.synctex.gz
sections/symmetric-circuits.bbl
sections/symmetric-circuits.blg
sections/symmetric-circuits.fdb_latexmk
sections/symmetric-circuits.fls




